Source: camx-hamoa
Section: misc
Priority: optional
Maintainer: Qualcomm Camera Team <camx.deb.maintainers@qti.qualcomm.com>
Uploaders:
 Loïc Minier <loic.minier@oss.qualcomm.com>,
Build-Depends:
 debhelper-compat (= 13),
 libglib2.0-0,
 libglib2.0-dev,
 libxml2-16,
 libxml2-dev,
Standards-Version: 4.6.2

Package: camx-hamoa
Architecture: arm64
Depends:
 ${shlibs:Depends},
 ${misc:Depends}
Description: Qualcomm CamX usermode libraries for Hamoa platform
 Core camera driver components for Hamoa platform.

Package: libcamx-hamoa1
Architecture: arm64
Depends:
 camx-hamoa (= ${binary:Version}),
 ${shlibs:Depends},
 ${misc:Depends}
Description: Qualcomm CamX libraries for camera service
 Set of libraries used by camera service (QMMF) for Hamoa platform

Package: libcamx-hamoa-dev
Architecture: arm64
Depends:
 camx-hamoa (= ${binary:Version}),
 ${shlibs:Depends},
 ${misc:Depends}
Description: Dev package for CamX libraries for camera service
 Contains unversioned so files used by camera service (QMMF)
 for Hamoa platform
