#!/usr/bin/make -f

export DH_VERBOSE = 1

%:
	dh $@

override_dh_auto_install:
ifeq ($(DEB_HOST_ARCH),arm64)
	mkdir -p debian/tmp
	for pkg in camx-hamoa camx-hamoa-dev \
	           camxlib-hamoa camxlib-hamoa-dev \
	           chicdk-autogen-hamoa-dev chicdk-core-dev \
	           chicdk-hamoa chicdk-hamoa-dev \
	           chicdk-oem-dev camx-nhx; do \
		cp -a data/$$pkg/arm64/* debian/tmp/; \
	done
	rm -rf $(CURDIR)/debian/tmp/usr/share/doc
endif
	:

override_dh_shlibdeps:
	:
