#!/usr/bin/make -f

%:
	dh $@

override_dh_shlibdeps:
	dh_shlibdeps \
		-l/usr/lib/aarch64-linux-gnu/camx/hamoa \
		-l/usr/lib/aarch64-linux-gnu/camx/hamoa/hw

# Upstream already strips .debug_info section, no need to try to do it again
override_dh_dwz:

maintainerclean:
	rm -r \
		LICENSE.qcom-2 \
		camx-entitled-headers-dev/ \
		camx-hamoa-dbgsym/ \
		camx-hamoa-dev/ \
		camx-hamoa/ \
		libcamx-dev/ \
		libcamx-hamoa-dev/ \
		libcamx-hamoa1-dbgsym/ \
		libcamx-hamoa1/
