#!/usr/bin/make -f

%:
	dh $@

override_dh_shlibdeps:
	dh_shlibdeps \
		-l/usr/lib/aarch64-linux-gnu/camx/hamoa \
		-l/usr/lib/aarch64-linux-gnu/camx/hamoa/hw

maintainerclean:
	rm -r \
		camx-entitled-headers-dev/ \
		camx-hamoa/ \
		camx-hamoa-dev/ \
		libcamx-dev/ \
		libcamx-hamoa-dev/ \
		libcamx-hamoa1/
